@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD


/* styles/globals.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
=======
>>>>>>> 7bc197fe38bccd3651a0893842d979cab291af35
